* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.parent {
    width: 500px;
    height: 500px;
    background: red;
    margin-left: auto;
    margin-right: auto;
}

.child {
    width: 50%;
    height: 50%;
    background: green;
}

/*
position: relative;
    left: 100%;
    top: 100%;
*/

/*
for parent
position: relative;


for child
margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
*/



/*
position

fixed
relative
absolut
sticky
static


top // -... 0 +.... (px %) auto
bottom
left
right

margin


*/
